

body{
    text-align: center;
    color:black;
    font-family: 'Blippo', fantasy;
    background-color: peachpuff;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: pink;
    color: grey;
    text-align: center;
    margin:0 auto;
}

.hiddenCell {
    visibility: hidden;
}

.board td.hid {
    background-color: peachpuff;
    color: peachpuff;
}

button{
    border-radius: 5px;
    font-family:  cursive;
    font-weight: bold;
    text-align: center;
}

button.emoji{
    margin:0 auto;
    font-size: 1.5em;
}

h2 {
    font-family:  cursive;
}


table{
    margin:0 auto;
}

.board td{
    width: 40px;
    height:45px;
    text-align: center;
    font-size:1.4em;
}

.board td:hover {
    background-color: paleturquoise;
}

.board td.clicked {
    background-color: rgb(250, 226, 204); 
    color: black;
}
.board td.marked {
    background-color: peachpuff;
}
.board td.unmarked {
    background-color: peachpuff;
}


.board td.num1 { 
    color: blue;
}
.board td.num2 { 
    color: green;
}
.board td.num3 { 
    color: red;
}
.board td.blank { 
    background-color: rgb(172, 148, 128);
}

.board td.hinted { 
    background-color: yellow;
}
